html {
    font-family: 'Kanit', sans-serif;
    overflow-y: auto;
    user-select: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(60, 60, 60) inset;
    border: 2px solid rgb(200, 200, 0);
}

input:focus {
    outline: 2px solid rgb(200, 200, 0);;
}